{% extends "base.html" %}
{% if erreur %}
    <script language="JavaScript">
         alert("Login inconnu ou mot de passe incorrecte");
    </script>
{% endif %}

{% block title %} Connexion {% endblock %}
{% block content %}
<h1> Bienvenue </h1>
<p> Connectez-vous. </p>
<form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p> <input type="submit" value="Log in" /> &nbsp; &nbsp;
        <a href=" {% url 'connexion' %}"> Mot de passe oublié </a> &nbsp; &nbsp;

    </p>
</form>
{% endblock %}